<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.chinguyen.betterskin">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/better_skin_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/better_skin_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.BetterSkin">
        <activity
            android:name=".Login"
            android:exported="true"
            android:parentActivityName=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Register"/>
        </activity>

        <activity
            android:name=".Register"
            android:exported="false"
            android:parentActivityName=".Register">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Login"/>
        </activity>


        <activity
            android:name=".LogoDisplay"
            android:exported="false"
            android:parentActivityName=".Welcome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Welcome"/>

        </activity>
        <activity
            android:name=".ThirdQuiz"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".SecondQuiz"
            android:exported="false"
            android:parentActivityName=".ThirdQuiz">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ThirdQuiz"/>
        </activity>

        <activity
            android:name=".FirstQuiz"
            android:exported="false"
            android:parentActivityName=".SecondQuiz">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SecondQuiz"/>
        </activity>

        <activity
            android:name=".Welcome"
            android:exported="false"
            android:parentActivityName=".FirstQuiz">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FirstQuiz"/>
        </activity>


        <activity android:name=".MainActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".Profile"
            android:exported="false">

        </activity>

        <activity
            android:name=".aboutMe"
            android:exported="false">

        </activity>

        <activity
            android:name=".GenerateMorningRoutine"
            android:exported="false">

        </activity>

        <activity
            android:name=".GenerateEveningRoutine"
            android:exported="false">

        </activity>
    </application>

</manifest>