<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.chinguyen.betterskin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BetterSkin">
        <activity
            android:name=".LogoDisplay"
            android:exported="true"
            android:parentActivityName=".Welcome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Welcome"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ThirdQuiz"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".SecondQuiz"
            android:exported="false"
            android:parentActivityName=".ThirdQuiz">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ThirdQuiz"/>
        </activity>

        <activity
            android:name=".FirstQuiz"
            android:exported="false"
            android:parentActivityName=".SecondQuiz">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SecondQuiz"/>
        </activity>

        <activity
            android:name=".Welcome"
            android:exported="false"
            android:parentActivityName=".FirstQuiz">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FirstQuiz"/>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false">

        </activity>
    </application>

</manifest>